# Chapter 02. 파이썬의 기본 문법

In [1]:
# 예제 2-1
a=20
b=30
c=a+b
print(c)

50

In [2]:
# 예제 2-2
x=20
Computer = 'Mac'
Age = 30
my_score = 70
_name = '홍길동'
myBirthYear = 1997
date2 = 20.3

print(x, Computer, Age, my_score, _name, myBirthYear, date2)

20 Mac 30 70 홍길동 1997 20.3

In [4]:
# 예제 2-2
x=20
computer = 'Mac'
age = 30
my_score = 70
_name = '홍길동'
my_birth_year = 1997
date2 = 20.3

print(x, computer, age, my_score, _name, my_birth_year, date2)

20 Mac 30 70 홍길동 1997 20.3

In [9]:
# 예제2-4
x=30
print(x)
print(type(x))

30
<class 'int'>

In [10]:
# 예제 2-5
x=3.3764
y=6/2
print(x,y)
print(type(x), type(y))

3.3764 3.0
<class 'float'> <class 'float'>

In [2]:
# 예제 2-7
test = input('숫자입력')
print(type(test))

a = 30     #0001 1110
print(a)
print(type(a))

b = '30'    #ASCII 
print(b)
print(type(b))

숫자입력30
<class 'str'>
30
<class 'int'>
30
<class 'str'>

In [5]:
# 예제 2-8
x = 'I am happy!'
print(x)
print(x[0])
print(x[0:3])
print(x[5:])
print(x[-1])
print(x[-3:])
print(x[-4:-2])

I am happy!
I
I a
happy!
!
py!
pp

In [10]:
y='나는 행복합니다.'
print(y[:2])
print(y[3:-1])
print(y[-1])

start = 3
print(y[start:start+2])

나는
행복합니다
.
행복

In [12]:
z='내 강아지 이름은 happy예요.'
print(z[2:5], z[10:15], z[-8:-3])

강아지 happy happy

In [21]:
# 예제 2-9
a = True
b = False
print(a)
print(b)

c = 10 > 20
print(c)

print(type(a))

True
False
False
<class 'bool'>

In [42]:
# 예제 2-16
a = '쥐 구멍에 볕 들 날 있다.'

b = len(a)

print(b)

15

In [54]:
# 예제 2-19
eng = 80
result = '영어 점수 : ' + str(eng) + '점'
print(result)

영어 점수 : 80점

In [48]:
# 예제 2-22
year = 2020
month = 3
day = 5

a = '%d-%02d-%02d'%(year, month, day)
print(a)

2020-03-05

In [53]:
# 예제 2-24
name = '황예린'
age = 18
eyesight = 1.2

a = '이름:{}'.format(name)
b = '나이:{}세'.format(age)
c = '나이:{}'.format(eyesight)

print(a)
print(b)
print(c)

이름:황예린
나이:18세
나이:1.2

In [55]:
x='I am happy!'
x.count('am')

1

In [57]:
x.find('happy')

5

In [58]:
x.upper()

'I AM HAPPY!'

In [59]:
x.lower()

'i am happy!'

In [60]:
x.replace('am','was')

'I was happy!'

In [62]:
x.split(' ')

['I', 'am', 'happy!']

In [64]:
x.isspace()

False

In [1]:
# 예제 2-27
score1 = 80
score2 = 87

sum = score1 + score2
avg = sum/2

print('두 과목 점수 : %d, %d' %(score1, score2))
print('합계 : %d, 평균 : %.2f' %(sum, avg))

두 과목 점수 : 80, 87
합계 : 167, 평균 : 83.50

In [4]:
# sep, end
print('오늘은')
year=2020
month=5
day=29
print(year, month, day)
print('입니다')

오늘은
2020 5 29
입니다

In [5]:
# 오늘은 2020/5/29입니다
print('오늘은', end=' ')
print(year, month, day, sep='/', end=' ')
print('입니다')

오늘은 2020/5/29 입니다

In [16]:
# 예제 2-31
name = input('이름을 입력하세요 : ')

print('%s님 반갑습니다.' %name)

이름을 입력하세요 : 김미닞
김미닞님 반갑습니다.

In [20]:
# 예제 2-33
a = input('첫번째 숫자를 입력하세요 : ')
b = input('두번째 숫자를 입력하세요 : ')

"""
or
a = int(input('첫번째 숫자를 입력하세요 :'))
b = int(input('두번째 숫자를 입력하세요 :'))
"""

c = int(a) + int(b)

print(c)

첫번째 숫자를 입력하세요 : 579
두번째 숫자를 입력하세요 : 253
832

In [3]:
# Q 2-1
width = 10
height =3
area = width*height/2
print('삼각형의 밑변 길이:', width)
print('삼각형의 높이:', height)
print('삼각형의 면적:', area)

삼각형의 밑변 길이: 10
삼각형의 높이: 3
삼각형의 면적: 15.0

In [17]:
# Q 2-2
price = 800
buy = 3
pay = 5000
change = pay - price * buy
print('물건가격: %d 원' %price)
print('구매개수:', buy,'개')
print('지불금액:', pay,'원')
print('거스름돈:',change,'원')

물건가격: 800 원
구매개수: 3 개
지불금액: 5000 원
거스름돈: 2600 원

In [51]:
# Q 2-4
name='홍길동'
age=30
height=171.50

print('성:', name[0])
print('이름:',name[1:])
print('%s의 나이:%d세, 키: %.2f cm'%(name, age, height))

성: 홍
이름: 길동
{}.format(name)의 나이:{}.format(age)세, 키: {}.format(height) cm
홍길동의 나이:30세, 키: 171.50 cm

In [29]:
# Q 2-5
name = input('학생 이름을 입력하세요:')
kor = int(input('국어 성적을 입력하세요:'))
eng = int(input('영어 성적을 입력하세요:'))
math = int(input('수학 성적을 입력하세요:'))
sum = kor+eng+math
avg = sum/3
print('이름:%s, 국어:%d, 영어:%d, 수학:%d, 평균:%.1f'
     %(name, kor, eng, math, avg))

학생 이름을 입력하세요:aaa
국어 성적을 입력하세요:20
영어 성적을 입력하세요:30
수학 성적을 입력하세요:40
이름:aaa, 국어:20, 영어:30, 수학:40, 평균:30.0

In [40]:
# 연습문제 3
rad = int(input('반지름을 입력하세요:'))
cir = rad * 3.14 * 2
area = rad * rad * 3.14
print('반지름: %d cm\n원의 둘레: %.2f cm\n원의 면적: %.2f cm2'%(rad, cir, area))

반지름을 입력하세요:10
반지름: 10 cm
원의 둘레: 62.80 cm
원의 면적: 314.00 cm2

In [71]:
# 연습문제 4
book_price = int(input('책 값을 입력하세요 : '))
book_discount_rate =  int(input('할인율을 입력하세요(%) : '))
delivery_fee = int(input('배송료를 입력하세요 : '))
pay = book_price - (book_price * book_discount_rate / 100) + delivery_fee
print('결제 금액 : %d원'%pay)

책 값을 입력하세요 : 10000
할인율을 입력하세요(%) : 10
배송료를 입력하세요 : 2000
결제 금액 : 11000원

In [70]:
# 연습문제 5
name = input('이름을 입력하세요 : ')
this_year = int(input('현재년을 입력하세요 : '))
birth_year = int(input('탄생년을 입력하세요 : '))
age = this_year - birth_year +1
print('%s님의 나이는 %d세 입니다!' %(name, age))

이름을 입력하세요 : 안
현재년을 입력하세요 : 20
탄생년을 입력하세요 : 19
안님의 나이는 2세 입니다!

In [19]:
# 연습문제 6
year = int(input('연을 입력하세요 : '))
month = int(input('월을 입력하세요 : '))
day = int(input('일을 입력하세요 : '))

print('%d-%02d-%02d' %(year, month, day))

연을 입력하세요 : 2020
월을 입력하세요 : 5
일을 입력하세요 : 29
2020-05-29