# Chapter 04. 반복문

In [3]:
# ex 4-1
for x in range(5):
    print('안녕하세요.')

안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.

In [4]:
# ex 4-2
x = 0
while x<5:
    print('안녕하세요.')
    x+=1

안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.

In [5]:
# ex4-3
sum = 0

for i in range(1,11):
    sum +=i
    print('i의 값 : %d, 합계: %d' %(i,sum))

i의 값 : 1, 합계: 1
i의 값 : 2, 합계: 3
i의 값 : 3, 합계: 6
i의 값 : 4, 합계: 10
i의 값 : 5, 합계: 15
i의 값 : 6, 합계: 21
i의 값 : 7, 합계: 28
i의 값 : 8, 합계: 36
i의 값 : 9, 합계: 45
i의 값 : 10, 합계: 55

In [19]:
# ex4-4
for i in range(10):
    print(i, end='')
print()

for i in range(1,11):
    print(i, end='')
print()

for i in range(1,10, 2):
    print(i, end='')
print()

for i in range(20,0,-2):
    print(i,end='')

0123456789
12345678910
13579
2018161412108642

In [13]:
# ex4-5
sum =0
for i in range(1, 101):
    if i%3==0:
        print('%d ' %i, end='')
        sum+=i
print('\n','-'*50)
print('1~100에서 3의 배수의 합계:%d' %sum)

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99
 --------------------------------------------------
1~100에서 3의 배수의 합계:1683

In [35]:
# ex4-6
word = input('영어 문장을 입력하세요:')

for x in word:
    print(x)

영어 문장을 입력하세요:hello!
h
e
l
l
o
!

In [42]:
# ex4-7
print('-'*30)
print('섭씨 화씨')
print('-'*30)

for c in range(-20, 31, 5):
    f = c*9.0/5.0+32.0
    print('%3d %2.1f' %(c,f))
    
print('-'*30)

------------------------------
섭씨 화씨
------------------------------
-20 -4.0
-15 5.0
-10 14.0
 -5 23.0
  0 32.0
  5 41.0
 10 50.0
 15 59.0
 20 68.0
 25 77.0
 30 86.0
------------------------------

In [7]:
# ex4-9
print('-'*50)

for a in range(2,10):
    for b in range(1,10):
        c=a*b
        print('%d x %d = %d' %(a,b,c))
    print('-'*50)

--------------------------------------------------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
--------------------------------------------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
--------------------------------------------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
--------------------------------------------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
--------------------------------------------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
--------------------------------------------------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
--------------------------------------------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
--------------------------------------------------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
--------------------------------------------------

In [5]:
# Q4-1
start_num = int(input('시작 수를 입력하세요: '))
end_num = int(input('끝 수를 입력하세요: '))
result = 0
for i in range (start_num, end_num+1):
    if i % 5 != 0:
        result += i

print('%d에서 %d까지 5의 배수가 아닌 수의 합계 : %d' %(start_num, end_num, result))

시작 수를 입력하세요: 100
끝 수를 입력하세요: 200
100에서 200까지 5의 배수가 아닌 수의 합계 : 12000

In [10]:
# Q4-2
phone_number = input('하이픈(-)을 포함한 휴대폰 번호를 입력하세요: ')

for i in phone_number:
    if i != '-':
        print('%s' %i, end='')

하이픈(-)을 포함한 휴대폰 번호를 입력하세요: 010-2851-9001
01028519001

In [2]:
# Q4-3
number = input('하이픈(-)을 뺀 11자리 휴대폰 번호를 입력하시오')

phone_number='';
for i in range(0, len(number)):
    if i==2:
        phone_number = phone_number + (number[2] +'-')
    elif i==6:
        phone_number = phone_number + (number[6] + '-')
    else:
        phone_number = phone_number + number[i]
        
print(phone_number)

하이픈(-)을 뺀 11자리 휴대폰 번호를 입력하시오01028519001
010-2851-9001

In [10]:
# Q4-4
print('-'*50)
print('센티미터(cm) 인치(inch) 피트(ft) 야드(yd)')
print('-'*50)

for cm in range(10, 201, 10) :
    inch = cm*0.393701
    ft = cm*0.032808
    yd = cm*0.010936
    print('%7d %10.1f %10.1f %10.1f' %(cm, inch, ft, yd))

print('-'*50)

--------------------------------------------------
센티미터(cm) 인치(inch) 피트(ft) 야드(yd)
--------------------------------------------------
     10        3.9        0.3        0.1
     20        7.9        0.7        0.2
     30       11.8        1.0        0.3
     40       15.7        1.3        0.4
     50       19.7        1.6        0.5
     60       23.6        2.0        0.7
     70       27.6        2.3        0.8
     80       31.5        2.6        0.9
     90       35.4        3.0        1.0
    100       39.4        3.3        1.1
    110       43.3        3.6        1.2
    120       47.2        3.9        1.3
    130       51.2        4.3        1.4
    140       55.1        4.6        1.5
    150       59.1        4.9        1.6
    160       63.0        5.2        1.7
    170       66.9        5.6        1.9
    180       70.9        5.9        2.0
    190       74.8        6.2        2.1
    200       78.7        6.6        2.2
--------------------------------------------------

In [12]:
# Q4-5
print('-'*50)
print('킬로그램(kg) 파운드(lb) 온스(oz)')
print('-'*50)

for kg in range(10, 101, 5):
    lb = kg*2.204626
    oz = kg*35.273962
    print('%8d %10.1f %10.1f' %(kg, lb, oz))
print('-'*50)

--------------------------------------------------
킬로그램(kg) 파운드(lb) 온스(oz)
--------------------------------------------------
      10       22.0      352.7
      15       33.1      529.1
      20       44.1      705.5
      25       55.1      881.8
      30       66.1     1058.2
      35       77.2     1234.6
      40       88.2     1411.0
      45       99.2     1587.3
      50      110.2     1763.7
      55      121.3     1940.1
      60      132.3     2116.4
      65      143.3     2292.8
      70      154.3     2469.2
      75      165.3     2645.5
      80      176.4     2821.9
      85      187.4     2998.3
      90      198.4     3174.7
      95      209.4     3351.0
     100      220.5     3527.4
--------------------------------------------------

In [18]:
# Q4-7

for i in range(1,11):
    for j in range(1, i+1):
        print('*', end='')
    print()

*
**
***
****
*****
******
*******
********
*********
**********

In [14]:
for i in range(1, 6):
    for k in range(1, i+1):
        print('*', end='')
    print()

*
**
***
****
*****

In [ ]:
# 다이아몬드
for i in range(1, 6):
    for k in range(1, i+1):
        print('*', end='')
    print()

In [21]:
# Q4-12
for i in range(1,1001):
    print(i)
    
    if i==10:
        break

1
2
3
4
5
6
7
8
9
10

In [1]:
# 합이 1000에 가장 가까운 경우는 1에서부터 얼마까지 더한 경우인가?

sum =0
count = 1
while True:
    if sum>1000:
        break
    sum+=count
    count+=1
print(sum-count, count)

989 46

In [19]:
# continue
for i in range(10):
    if i%2 ==0:
        continue
    print(i, end=' ')

1 3 5 7 9

In [22]:
# Q4-8

for i in range(1,11):
    for j in range(1, 10-i+1):
        print('', end=' ')
    for k in range(1, i+1):
        print('*', end='')
    print()

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

In [1]:
# Q4-9

print('-'*30)
print('섭씨 화씨')
print('-'*30)

c=-20
while c<41:
    f = c*9.0/5.0+32.0
    print('%3d %2.1f' %(c,f))
    c+=1
    
print('-'*30)

------------------------------
섭씨 화씨
------------------------------
-20 -4.0
-19 -2.2
-18 -0.4
-17 1.4
-16 3.2
-15 5.0
-14 6.8
-13 8.6
-12 10.4
-11 12.2
-10 14.0
 -9 15.8
 -8 17.6
 -7 19.4
 -6 21.2
 -5 23.0
 -4 24.8
 -3 26.6
 -2 28.4
 -1 30.2
  0 32.0
  1 33.8
  2 35.6
  3 37.4
  4 39.2
  5 41.0
  6 42.8
  7 44.6
  8 46.4
  9 48.2
 10 50.0
 11 51.8
 12 53.6
 13 55.4
 14 57.2
 15 59.0
 16 60.8
 17 62.6
 18 64.4
 19 66.2
 20 68.0
 21 69.8
 22 71.6
 23 73.4
 24 75.2
 25 77.0
 26 78.8
 27 80.6
 28 82.4
 29 84.2
 30 86.0
 31 87.8
 32 89.6
 33 91.4
 34 93.2
 35 95.0
 36 96.8
 37 98.6
 38 100.4
 39 102.2
 40 104.0
------------------------------

In [9]:
# Q4-10
i=200
count=0
while i<601:
    if i%3!=0:
        print('%d '%i, end='')
        count +=1
        if count%8==0:
            print()
    i+=1

200 202 203 205 206 208 209 211
212 214 215 217 218 220 221 223
224 226 227 229 230 232 233 235
236 238 239 241 242 244 245 247
248 250 251 253 254 256 257 259
260 262 263 265 266 268 269 271
272 274 275 277 278 280 281 283
284 286 287 289 290 292 293 295
296 298 299 301 302 304 305 307
308 310 311 313 314 316 317 319
320 322 323 325 326 328 329 331
332 334 335 337 338 340 341 343
344 346 347 349 350 352 353 355
356 358 359 361 362 364 365 367
368 370 371 373 374 376 377 379
380 382 383 385 386 388 389 391
392 394 395 397 398 400 401 403
404 406 407 409 410 412 413 415
416 418 419 421 422 424 425 427
428 430 431 433 434 436 437 439
440 442 443 445 446 448 449 451
452 454 455 457 458 460 461 463
464 466 467 469 470 472 473 475
476 478 479 481 482 484 485 487
488 490 491 493 494 496 497 499
500 502 503 505 506 508 509 511
512 514 515 517 518 520 521 523
524 526 527 529 530 532 533 535
536 538 539 541 542 544 545 547
548 550 551 553 554 556 557 559
560 562 563 565 566 568 569 571
572 574 575 577 578 580 581 583
584 586 587 589 590 592 593 595
596 598 599

In [21]:
# Q4-11
sent = input('문장을 입력해 주세요 : ')

i = len(sent) - 1

while i>=0:
    if sent[i] ==' ':
        print('-', end='')
    else:
        print('%s' %sent[i], end='')
    i-=1

문장을 입력해 주세요 : 쥐 구멍에 볕 들 날 있다.
.다있-날-들-볕-에멍구-쥐

In [26]:
# 1
for i in range(1,6):
    for j in range(1,11):
        print('*', end=' ')
    print()

* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

In [5]:
# 2
i=0
j=0
while i<5:
    #for j in range(1,11):
    while j<10:
        print('*', end=' ')
        j+=1
    i+=1
    print()

* * * * * * * * * *

In [11]:
# 3

for num in range(6,0,-1):
    for num2 in range(1, num+1):
        print(num, end=' ')
    #print(str(num)*num, end=' ')
    print()

6 6 6 6 6 6
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [13]:
# 4

for num in range(0,6):
    for num2 in range(0, num+1):
        print(num2, end=' ')
    print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3 4 5

In [10]:
#5
a = 8
for i in range(a):
    if i==0 or i==7:
        for j in range(a):
            print('*', end='')
    else:
        print('*', end='')
        for j in range(a-2):
            print(' ', end='')
        print('*', end='')
    print()

********
*      *
*      *
*      *
*      *
*      *
*      *
********

In [17]:
#6
sum=0
for i in range(1, 101, 2):
    sum+=i
    print(i,end=' + ')
print(' = %d' %sum)

1 + 3 + 5 + 7 + 9 + 11 + 13 + 15 + 17 + 19 + 21 + 23 + 25 + 27 + 29 + 31 + 33 + 35 + 37 + 39 + 41 + 43 + 45 + 47 + 49 + 51 + 53 + 55 + 57 + 59 + 61 + 63 + 65 + 67 + 69 + 71 + 73 + 75 + 77 + 79 + 81 + 83 + 85 + 87 + 89 + 91 + 93 + 95 + 97 + 99 +  = 2500

In [27]:
#7
num = int(input('N의 값을 입력하세요 : '))

sum =0
for i in range(1, num+1):
    if i%2==0:
        sum+=i**(i-1)
print('N의 값 : %d' %num, end=' ')
print('합계 : %d' %sum)

N의 값을 입력하세요 : 12
N의 값 : 12 합계 : 744010475682

In [46]:
#8
num = int(input('N의 값을 입력하세요 : '))
for i in range(2, num+1):
    p =True
    for j in range(2, i):
        if i%j==0:
            p=False
            break
    if(p):
        print(i, end=' ')

N의 값을 입력하세요 : 200
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199

In [33]:
#9

print('-'*30)
print('달러($) 원화(원) 유로(€)')
print('-'*30)

d = 10
while d<101:
    w = d*1080
    u = d*0.81
    print('%5d %8d %7.1f' %(d, w, u))
    d+=10
print('-'*30)

------------------------------
달러($) 원화(원) 유로(€)
------------------------------
   10    10800     8.1
   20    21600    16.2
   30    32400    24.3
   40    43200    32.4
   50    54000    40.5
   60    64800    48.6
   70    75600    56.7
   80    86400    64.8
   90    97200    72.9
  100   108000    81.0
------------------------------

In [41]:
#10
print('-'*30)
print('cm    mm     m     inch')
print('-'*30)

cm = 1
while cm<100:
    mm = cm*10
    m = cm*0.01
    inch = cm*0.3937
    print('%2d %5d %7.2f %7.2f' %(cm, mm, m, inch))
    cm+=2
print('-'*30)

------------------------------
cm    mm     m     inch
------------------------------
 1    10    0.01    0.39
 3    30    0.03    1.18
 5    50    0.05    1.97
 7    70    0.07    2.76
 9    90    0.09    3.54
11   110    0.11    4.33
13   130    0.13    5.12
15   150    0.15    5.91
17   170    0.17    6.69
19   190    0.19    7.48
21   210    0.21    8.27
23   230    0.23    9.06
25   250    0.25    9.84
27   270    0.27   10.63
29   290    0.29   11.42
31   310    0.31   12.20
33   330    0.33   12.99
35   350    0.35   13.78
37   370    0.37   14.57
39   390    0.39   15.35
41   410    0.41   16.14
43   430    0.43   16.93
45   450    0.45   17.72
47   470    0.47   18.50
49   490    0.49   19.29
51   510    0.51   20.08
53   530    0.53   20.87
55   550    0.55   21.65
57   570    0.57   22.44
59   590    0.59   23.23
61   610    0.61   24.02
63   630    0.63   24.80
65   650    0.65   25.59
67   670    0.67   26.38
69   690    0.69   27.17
71   710    0.71   27.95
73   730    0.73   28.74
75   750    0.75   29.53
77   770    0.77   30.31
79   790    0.79   31.10
81   810    0.81   31.89
83   830    0.83   32.68
85   850    0.85   33.46
87   870    0.87   34.25
89   890    0.89   35.04
91   910    0.91   35.83
93   930    0.93   36.61
95   950    0.95   37.40
97   970    0.97   38.19
99   990    0.99   38.98
------------------------------