In [21]:
import sqlite3
conn = sqlite3.connect('./test.db')

In [22]:
cur = conn.cursor()
cur.execute('SELECT * FROM eagles')
rows = cur.fetchall()

In [23]:
rows

[(1, 13, '최재훈', '포수'),
 (2, 3, '노태형', '내야수'),
 (3, 19, '이용규', '외야수'),
 (4, 62, '강재민', '투수'),
 (5, 47, '김종민', '포수수'),
 (6, 14, '강경학', '내야수'),
 (7, 114, '김광명', '외야수'),
 (8, 20, '남지민', '투수'),
 (9, 116, '강상원', '외야수'),
 (10, 94, '권용우', '투수')]

In [24]:
cur.execute("select * from eagles where position = '투수'")
pitchers = cur.fetchall()
for pitcher in pitchers:
    print(pitcher)

(4, 62, '강재민', '투수')
(8, 20, '남지민', '투수')
(10, 94, '권용우', '투수')

In [28]:
cur= conn.cursor()
cur.execute('create table if not exists eagles \
            (back_no int not null,\
            name text,\
            positino text\
            primary key(back_no));')

OperationalError: near "(": syntax error

In [29]:
cur.execute('alter table eagles add column birth integer')

In [30]:
cur.execute('alter table eagles rename to eagles.backup')

OperationalError: near ".": syntax error

In [25]:
# 2

In [35]:
#2-1
cur = conn.cursor()
cur.execute('create table group_info\
                              (id integer primary key autoincrement,\
                              group_name text,\
                              num int,\
                              date text,\
                              company text);')

In [36]:
#2-2
cur = conn.cursor()
cur.execute('create table song_info(\
                              song_id integer primary key autoincrement,\
                              song_name text,\
                              group_id int,\
                              year text,\
                              composer text,\
                              intro text);')

In [ ]:
#2-2
cur = conn.cursor()
cur.execute("insert into group_info(group_name, num, date, company) \
            value('방탄소년단',7,'2013-06-12', '빅히트엔터테인먼트'), \
            ('세븐틴',13,'2015-05-26','프레디스'), \
            ('하이라이트',4,'2017-03-20', '어라운드어스 엔터테인먼트'),\
            ('비투비',7, '2012-03-21', '큐브엔터테인먼트'),\
            ('EXO',9, '2012-04-08','SM엔터테인먼트')")