# Chapter 06 튜플과 딕셔너리

In [7]:
# ex 6-1
menu = ('coffee', 'milk', 'tea', 'cider')

print(menu)
print(menu[0])
print(menu[2])
print(menu[0:3])

#menu[1] = 'cola' -> 불가능(read only니까)

('coffee', 'milk', 'tea', 'cider')
coffee
tea
('coffee', 'milk', 'tea')

In [8]:
# ex 6-2
tuple1 = ('apple', 'banana', 'cherry')
tuple2 = ('orange', 'melon', 'strawberry')
tuple3 = tuple1 + tuple2
print(tuple3)
print(len(tuple3))
for x in tuple1:
    print(x)

del tuple1 #튜플 전체 삭제는 가능

('apple', 'banana', 'cherry', 'orange', 'melon', 'strawberry')
6
apple
banana
cherry

In [6]:
# Q6-1
print('구구단표')
print('-'*30)
n = (2, 3, 4, 5, 6, 7, 8, 9)
for x in n :
    print('%d단' %(x))
    for i in range(1,10):
        print('%d x %d = %d' %(x, i, x*i))
    print('-'*30)

구구단표
------------------------------
2단
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
------------------------------
3단
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
------------------------------
4단
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
------------------------------
5단
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
------------------------------
6단
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
------------------------------
7단
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
------------------------------
8단
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
------------------------------
9단
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
------------------------------

In [9]:
# Q6-2

admin = ('admin', '12345')
admin_id = input('관리자 아이디를 입력하세요:')
admin_pw = input('관리자 비밀번호를 입력하세요:')

if admin_id == admin[0] and admin_pw == admin[1]:
    print('관리자입니다.')
else:
    print('아이디 또는 비밀번호가 잘못 입력되었습니다')

관리자 아이디를 입력하세요:admin
관리자 비밀번호를 입력하세요:12345
관리자입니다.

In [12]:
# tuple 만들기
#num = (1, 3, 5, 7, 9)

odds = tuple(range(1,10,2))
print(odds)

# 표현식 **
squares = tuple(i*i for i in range(1,6))
print(squares)

odd_squares = tuple(i*i for i in range(1, 10) if i % 2 == 1)
print(odd_squares)

(1, 3, 5, 7, 9)
(1, 4, 9, 16, 25)
(1, 9, 25, 49, 81)

In [18]:
# 시퀀스 객체 특정 값이 있는지 확인
# 값 in 시퀀스객체
# 값 not in 시퀀스 객체

a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
30 not in a
1 in range (10)

True

In [25]:
# 시퀀스 객체 연결
a = [0, 10, 20, 30]
b = [9, 8, 7, 6]

print(a+b)
print((1,2,3)+(4,5,6))

'Python' +str(3)

[0, 10, 20, 30, 9, 8, 7, 6]
(1, 2, 3, 4, 5, 6)

'Python3'

In [31]:
# 시퀀스 객체 반복하기
print([1,2,3]*3)
print(3*[1,2,3])

print((1,2,3)*3)
print('python '*3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
(1, 2, 3, 1, 2, 3, 1, 2, 3)
python python python

In [42]:
a = (11, 22, 33, 44, 55, 66, 77, 88, 99)
print(a[0:9:4])

(11, 55, 99)

# Dictionary

In [13]:
# ex 6-3

members = {'name':'안지영', 'age':30, 'email': 'jiyong@korea.com'}

print(members)
print(members['name'])
print(members['age'])
print(members['email'])

print('길이:%d' %len(members))

{'name': '안지영', 'age': 30, 'email': 'jiyong@korea.com'}
안지영
30
jiyong@korea.com
길이:3

In [34]:
# ex6-4
name = '안진영'
scores = {'kor':95,'eng':85, 'math':90, 'science':80}
print(scores)

scores['kor']=70
print(scores['kor'])

scores['music'] = 100
print(scores)

del scores['science']
print(scores)

print('이름 : %s' %name)
print('국어 : %d' %scores['kor'])
print('영어 : %d' %scores['eng'])
print('수학 : %d' %scores['math'])

{'kor': 95, 'eng': 85, 'math': 90, 'science': 80}
70
{'kor': 70, 'eng': 85, 'math': 90, 'science': 80, 'music': 100}
{'kor': 70, 'eng': 85, 'math': 90, 'music': 100}
이름 : 안진영
국어 : 70
영어 : 85
수학 : 90

In [35]:
# ex 6-5
phones = {'갤럭시 노트8':2017, '갤럭시 s9': 2018, '갤럭시 노트10': 2019, '갤럭시 s20': 2020}
print(phones)

for key in phones:
    print('%s => %s'%(key, phones[key]))
    
print(len(phones))

{'갤럭시 노트8': 2017, '갤럭시 s9': 2018, '갤럭시 노트10': 2019, '갤럭시 s20': 2020}
갤럭시 노트8 => 2017
갤럭시 s9 => 2018
갤럭시 노트10 => 2019
갤럭시 s20 => 2020
4

In [57]:
# 키값이 중복이 된다면?
lux = {'health':490, 'health':500}
print(lux['health'])

#뒤에 있는 값으로 출력된다

#빈 딕셔너리 만들기
dict()

#딕셔너리 생성
lux = {'health': 490, 'mana': 334, 'melee': 500, 'armor': 18.72}
lux1 = dict(health = 490, mana = 334, melee = 500, armor = 18.72)
print(lux1)
print(lux)

500
{'health': 490, 'mana': 334, 'melee': 500, 'armor': 18.72}
{'health': 490, 'mana': 334, 'melee': 500, 'armor': 18.72}

In [77]:
# 집합(set)
fruits = {'orange','strawberry', 'grape', 'orange', 'pineapple', 'cherry'}
fruits
#집어넣은 순서와 상관없이 알아서 sorting을 한다
#중복이 되면 중복을 없애고 나타낸다

{'cherry', 'grape', 'orange', 'pineapple', 'strawberry'}

In [85]:
# Q6-3
scores = {'김예진':90, '박영진':95, '김소희':84}
sum=0
avg=0
for i in scores:
    sum+=scores[i]
avg = sum/len(scores)

print('합계: %d, 평균: %.2f' %(sum, avg))

합계: 269, 평균: 89.67

In [90]:
# Q6-4

admin = {'id':'admin', 'pw':'12345'}
admin_id = input('관리자 아이디를 입력하세요:')
admin_pw = input('관리자 비밀번호를 입력하세요:')

if admin_id == admin['id'] and admin_pw == admin['pw']:
    print('관리자입니다.')
else:
    print('아이디 또는 비밀번호가 잘못 입력되었습니다')

관리자 아이디를 입력하세요:admin
관리자 비밀번호를 입력하세요:12345
관리자입니다.

In [91]:
# ex6-5
words = {'사과':'apple', '컴퓨터':'computer', '학교':'school', '책상':'desk', '의자':'chair'}

for key in words:
    in_words=input('%s에 해당되는 영어 단어를 입력해주세요:' %key)
    if words[key] != in_words:
        result = '틀렸습니다!'
    else:
        result = '정답입니다!'
    print(result)

사과에 해당되는 영어 단어를 입력해주세요:apple
정답입니다!
컴퓨터에 해당되는 영어 단어를 입력해주세요:co
틀렸습니다!
학교에 해당되는 영어 단어를 입력해주세요:school
정답입니다!
책상에 해당되는 영어 단어를 입력해주세요:d
틀렸습니다!
의자에 해당되는 영어 단어를 입력해주세요:cha
틀렸습니다!

In [5]:
# 1

m = {'kim99':12000,'lee66':11000,'han55':3000,'hone77':5000,
     'hwaong33':18000}

for i in m:
    print('아이디 : %s, 마일리지 : %d점' %(i, m[i]))

아이디 : kim99, 마일리지 : 12000점
아이디 : lee66, 마일리지 : 11000점
아이디 : han55, 마일리지 : 3000점
아이디 : hone77, 마일리지 : 5000점
아이디 : hwaong33, 마일리지 : 18000점

In [4]:
# 2
m = {'kim99':12000,'lee66':11000,'han55':3000,'hone77':5000,
     'hwaong33':18000}

m.update(han55=5000)
# m['han55']=5000

for i in m:
    if i =='han55':
        print('%s님의 마일리지가 %d점으로 수정되었습니다' %(i, m[i]))

han55님의 마일리지가 5000점으로 수정되었습니다

In [5]:
# 3
m = {'kim99':12000,'lee66':11000,'han55':3000,'hone77':5000,
     'hwaong33':18000}

m['jang88'] = 7000
#m.setdefault('jang88',7000)
print(m)
for i in m:
    if i =='jang88':
        print('%s님의 마일리지 (%d점)가 추가되었습니다' %(i, m[i]))

{'kim99': 12000, 'lee66': 11000, 'han55': 3000, 'hone77': 5000, 'hwaong33': 18000, 'jang88': 7000}
jang88님의 마일리지 (7000점)가 추가되었습니다

In [23]:
# 4
m = {'kim99':12000,'lee66':11000,'han55':3000,'hone77':5000,'hwaong33':18000}

biggest = m['kim99']

for i in m:
    if m[i] > biggest:
        biggest = m[i]
print('%s님의 %d점이 가장 높은 점수입니다.' %(i,biggest))

hwaong33님의 18000점이 가장 높은 점수입니다.

In [49]:
# 5
high_temp = {'월':25.5, '화':28.3, '수':33.2, '목':32.1, '금':17.3, '토':35.3, '일': 33.3}

print('-'*40)
for i in high_temp:
    print('%3s' %i, end='')
print()
print('-'*40)
for i in high_temp:
    print('%.1f' %high_temp[i], end=' ')
print()
print('-'*40)

----------------------------------------
  월  화  수  목  금  토  일
----------------------------------------
25.5 28.3 33.2 32.1 17.3 35.3 33.3
----------------------------------------

In [82]:
# 6
high_temp = {'월':25.5, '화':28.3, '수':33.2, '목':32.1, '금':17.3, '토':35.3, '일': 33.3}

low = high_temp['월']
for i in high_temp:
    if i !='토' and i !='일':
        if high_temp[i] < low:
            low = high_temp[i]

print('가장 낮은 최고 기온 : %.1f도' %low)

가장 낮은 최고 기온 : 17.3도

In [7]:
# 7
high_temp = {'월':25.5, '화':28.3, '수':33.2, '목':32.1, '금':17.3, '토':35.3, '일': 33.3}
t_list = []

for i in high_temp:
    if high_temp[i] >= 30:
        t_list.append(i)

print('기온이 30도 이상인 요일 :', end='')
for i in range(len(t_list)):
    print ('%s '%t_list[i],end='')

['수', '목', '토', '일']
기온이 30도 이상인 요일 :수 목 토 일

In [83]:
# 8
high_temp = {'월':25.5, '화':28.3, '수':33.2, '목':32.1, '금':17.3, '토':35.3, '일': 33.3}

temp_avg =0
temp_sum = 0
for i in high_temp:
    temp_sum +=high_temp[i]

temp_avg = temp_sum/len(high_temp)
print('일주일간 최고 기온의 평균 : %.1f도' %temp_avg)

일주일간 최고 기온의 평균 : 29.3도