# Numpy - Numerical Python

## 1. ndarray (Numpy Dimensional Array)

In [6]:
import numpy as np

In [11]:
test_array = np.array([1, 4, 5, 8], float)
print(test_array)
type(test_array[3])
print(test_array.dtype) # Array 전체 데이터 타입 반환
print(test_array.shape) # Array의 차원 구성을 반환

[1. 4. 5. 8.]
float64
(4,)

In [12]:
test_array[2:]

array([5., 8.])

In [23]:
test_array = np.array([1, 4, '5', 4.2]) # 모두 문자열로 인식 
test_array

array(['1', '4', '5', '4.2'], dtype='<U11')

In [22]:
test_array = np.array([1, 4, '5', 4.2], float) # 문자열도 자동으로 숫자취급
test_array

array([1. , 4. , 5. , 4.2])

In [27]:
# Matrix (2차원, 행렬)
matrix = [[1,2,5,8], [2,3,4,9], [4,5,6,7]]
np.array(matrix, int).shape

(3, 4)

In [29]:
np.array(matrix, int)

array([[1, 2, 5, 8],
       [2, 3, 4, 9],
       [4, 5, 6, 7]])

In [30]:
matrix

[[1, 2, 5, 8], [2, 3, 4, 9], [4, 5, 6, 7]]

In [3]:
import numpy as np

data = np.array([1,2,3,4,5])
print(data)
print(type(data))
print(data.dtype)

[1 2 3 4 5]
<class 'numpy.ndarray'>
int32

In [28]:
tensor = [[[1,2,5,8], [2,3,4,9], [4,5,6,7]],
          [[1,2,5,8], [2,3,4,9], [4,5,6,7]],
            [[1,2,5,8], [2,3,4,9], [4,5,6,7]],
          [[1,2,5,8], [2,3,4,9], [4,5,6,7]]]
np.array(tensor, int).shape

(4, 3, 4)

In [33]:
np.array(tensor, int)

array([[[1, 2, 5, 8],
        [2, 3, 4, 9],
        [4, 5, 6, 7]],

       [[1, 2, 5, 8],
        [2, 3, 4, 9],
        [4, 5, 6, 7]],

       [[1, 2, 5, 8],
        [2, 3, 4, 9],
        [4, 5, 6, 7]],

       [[1, 2, 5, 8],
        [2, 3, 4, 9],
        [4, 5, 6, 7]]])

In [26]:
np.array(tensor, int).ndim #몇차원이냐

3

In [34]:
np.array(tensor, int).size

48

In [38]:
np.array([[1,2,3], [4.5, '5', '6']], dtype=np.float32).nbytes
#array([[1. ,2., 3. ], [4.5, 5., 6.]], dtype=float32)

24

In [39]:
test_matrix = [[1,2,3,4], [5,6,7,8]]
np.array(test_matrix).shape

(2, 4)

In [44]:
np.array(test_matrix).reshape(8).shape

(8,)

In [42]:
np.array(test_matrix).reshape(4,2)

array([[1, 2],
       [3, 4],
       [5, 6],
       [7, 8]])

In [45]:
np.array(test_matrix).reshape(2,2,2)

array([[[1, 2],
        [3, 4]],

       [[5, 6],
        [7, 8]]])

In [46]:
np.array(test_matrix).reshape(-1,2)

array([[1, 2],
       [3, 4],
       [5, 6],
       [7, 8]])

In [48]:
np.array(test_matrix).reshape(-1,1)

array([[1],
       [2],
       [3],
       [4],
       [5],
       [6],
       [7],
       [8]])

In [50]:
#flatten: 다차원 Array를 1차원 Array로 변환
test_matrix = [[[1,2,3,4],[5,6,7,8],[[2,3,4,5],[6,7,8,9]]]]
np.array(test_matrix).flatten()

array([list([1, 2, 3, 4]), list([5, 6, 7, 8]),
       list([[2, 3, 4, 5], [6, 7, 8, 9]])], dtype=object)

## 3.Indexing and Slicing

In [55]:
a = np.array([[1,2,3,4,5], [4,5,6,7,8]], int)
print(a)
print(a[0,0])
print(a[0],[0])
a[0,0] =1
#2차원 배열 표기법 a[n,n] or a[n],[n]

[[1 2 3 4 5]
 [4 5 6 7 8]]
1
[1 2 3 4 5] [0]

In [56]:
a[:, 2:] #행은 모두 선택 열이 2보다 큰거 출력

array([[3, 4, 5],
       [6, 7, 8]])

In [57]:
a[1, 1:3] #1행에서 1~2열 출력

array([5, 6])

In [58]:
 a[1:3] #행에 대해서만 / 1행~2행까지 but 2행이 없으니까 1행만 출력

array([[4, 5, 6, 7, 8]])

In [59]:
 a[:,::2]#행 전체, 열은 전체에서 중에 인덱스가 2씩증가한 값 출력

array([[1, 3, 5],
       [4, 6, 8]])

## 4. Creation function

In [61]:
np.arange(10) # 일정한 규칙을 가진 수 자동 생성(list의 range와 같음)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [62]:
np.arange(0,5,0.5) 
#0에서 4까지의 숫자중 0.5씩 증가한 값 자동 생성(list에서는 실수 안됨)

array([0. , 0.5, 1. , 1.5, 2. , 2.5, 3. , 3.5, 4. , 4.5])

In [63]:
np.arange(0,5,0.5).tolist()

[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5]

In [66]:
np.arange(30).reshape(5,6)

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29]])

In [69]:
np.arange(30).reshape(-1,2,3)

array([[[ 0,  1,  2],
        [ 3,  4,  5]],

       [[ 6,  7,  8],
        [ 9, 10, 11]],

       [[12, 13, 14],
        [15, 16, 17]],

       [[18, 19, 20],
        [21, 22, 23]],

       [[24, 25, 26],
        [27, 28, 29]]])

In [70]:
np.zeros(shape=(10,), dtype=np.int8)
#1차원 배열을 0 10개로 채우겠다

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int8)

In [72]:
np.zeros((2,3))

array([[0., 0., 0.],
       [0., 0., 0.]])

In [73]:
np.ones((2,4), np.int8) #2차원 배열을 1로 채우겠다

array([[1, 1, 1, 1],
       [1, 1, 1, 1]], dtype=int8)

In [79]:
np.empty((3,5))

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [80]:
#something like : 기존의 ndarray의 shape 크기 만큰 1,0 또는 empty array
test_matrix = np.arange(30).reshape(5,6)
np.ones_like(test_matrix)

array([[1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1]])

In [81]:
np.zeros_like(test_matrix)

array([[0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0]])

In [83]:
# 단위행렬: Identity
np.identity(n=3, dtype=np.int8)

array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]], dtype=int8)

In [84]:
# eye(대각선이 1인 행렬)
np.eye(N=3, M=5, dtype=np.int8)

array([[1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 1, 0, 0]], dtype=int8)

In [85]:
np.eye(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [86]:
np.eye(3,5,k=2) # k=start index

array([[0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [90]:
# diag(대각 행렬의 값을 추출)
matrix = np.arange(9).reshape(3,3)
np.diag(matrix)

array([0, 4, 8])

In [91]:
np.diag(matrix, k=1)

array([1, 5])

# Random sampling

In [92]:
# 시드로 난수 생성 초기값 지정
np.random.seed(1000)

In [93]:
#  균등 분포(최소 최대 개수)
np.random.uniform(0, 1, 10).reshape(2,5)

array([[0.65358959, 0.11500694, 0.95028286, 0.4821914 , 0.87247454],
       [0.21233268, 0.04070962, 0.39719446, 0.2331322 , 0.84174072]])

In [94]:
#  정규 분포(평균 표준편차 개수)
np.random.normal(0, 1, 10).reshape(2,5)

array([[ 0.66728131, -0.80611561, -1.19606983, -0.40596016, -0.18237734],
       [ 0.10319289, -0.13842199,  0.70569237,  1.27179528, -0.98674733]])

In [95]:
# 이항 분포
np.random.binomial(20, 0.5, 10)

array([ 9,  6, 12, 11, 12, 10, 13, 13,  5,  7])

## 포아송 분포
np.random.posion(lam. size)
## t-분포
np.random.standard_t(df, size)
## F-분포
np.random.f(dfnum, dfden, size)

# 8.Operation Function

In [102]:
# sum
test_array = np.arange(1,11)
test_array.sum(dtype = np.float)

55.0

In [104]:
test_array = np.arange(1,13).reshape(3,4)
test_array

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [105]:
test_array.sum(axis=1)
#axis = 0: 각 열의 요소 값 / axis = 1: 각 행의 요소 값

array([10, 26, 42])

In [106]:
test_array.sum(axis=0)

array([15, 18, 21, 24])

In [110]:
test_array.max(axis=0)

array([ 9, 10, 11, 12])

In [168]:
test_array = np.arange(1,40).reshape(3,4)

ValueError: cannot reshape array of size 39 into shape (3,4)

In [116]:
# 평균(mean), 표준편차(std)
test_array = np.arange(1,13).reshape(3,4)
test_array.mean()

6.5

In [117]:
test_array.mean(axis=1)

array([ 2.5,  6.5, 10.5])

In [118]:
test_array.std()

3.452052529534663

In [120]:
test_array.std(axis=1)

array([1.11803399, 1.11803399, 1.11803399])

In [122]:
# Mathematical functions
np.exp(test_array)

array([[2.71828183e+00, 7.38905610e+00, 2.00855369e+01, 5.45981500e+01],
       [1.48413159e+02, 4.03428793e+02, 1.09663316e+03, 2.98095799e+03],
       [8.10308393e+03, 2.20264658e+04, 5.98741417e+04, 1.62754791e+05]])

In [123]:
np.sqrt(test_array)

array([[1.        , 1.41421356, 1.73205081, 2.        ],
       [2.23606798, 2.44948974, 2.64575131, 2.82842712],
       [3.        , 3.16227766, 3.31662479, 3.46410162]])

In [126]:
# Concatenate
a = np.array([[1,2], [3,4]])
a

array([[1, 2],
       [3, 4]])

In [127]:
b = np.array([[5,6]])
b

array([[5, 6]])

In [128]:
np.vstack((a,b)) #vstack(튜플) : array를 합치는 함수

array([[1, 2],
       [3, 4],
       [5, 6]])

In [131]:
np.concatenate((a,b), axis=0) #vstack()와 같음

array([[1, 2],
       [3, 4],
       [5, 6]])

In [132]:
a = np.array([[1, 2], [3, 4]])
b = np.array([[5, 6]])

np.concatenate((a,b.T), axis=1) #T-Transpose (옆쪽으로 /오른쪽으로)
# = np.hstack((a, b.T))

array([[1, 2, 5],
       [3, 4, 6]])

# 6. Array Operation

In [135]:
test_a = np.array([[1,2,3], [4,5,6]], float)
test_b = np.arange(1,7). reshape(2,3)

test_a + test_b
# 각각의 shap이 같을 때

array([[ 2.,  4.,  6.],
       [ 8., 10., 12.]])

In [136]:
test_a - test_b

array([[0., 0., 0.],
       [0., 0., 0.]])

In [137]:
test_a * test_b

array([[ 1.,  4.,  9.],
       [16., 25., 36.]])

In [138]:
test_a / test_b

array([[1., 1., 1.],
       [1., 1., 1.]])

In [141]:
# Dot product (행렬의 곱)
# (l,m) x (m,n) -> (l,n)
test_a = np.arange(1,7). reshape(2,3)
test_a

array([[1, 2, 3],
       [4, 5, 6]])

In [142]:
test_b = np.arange(7,13). reshape(3,2)
test_b

array([[ 7,  8],
       [ 9, 10],
       [11, 12]])

In [143]:
test_a.dot(test_b)

array([[ 58,  64],
       [139, 154]])

In [144]:
# Transpose
test_a.dot(test_a.T)

array([[14, 32],
       [32, 77]])

In [145]:
# Broadcasting(sclar)
test_a

array([[1, 2, 3],
       [4, 5, 6]])

In [146]:
scalar = 3
test_a + scalar

array([[4, 5, 6],
       [7, 8, 9]])

In [152]:
test_a // scalar

array([[0, 0, 1],
       [1, 1, 2]], dtype=int32)

In [150]:
test_a % scalar

array([[1, 2, 0],
       [1, 2, 0]], dtype=int32)

In [153]:
test_a * scalar

array([[ 3,  6,  9],
       [12, 15, 18]])

In [154]:
test_a ** scalar

array([[  1,   8,  27],
       [ 64, 125, 216]], dtype=int32)

In [158]:
# Matrix와 vector의 합
test_matrix = np.arange(1,13).reshape(4,3)
test_matrix

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [156]:
test_vector = np.arange(10,40,10)
test_vector

array([10, 20, 30])

In [157]:
test_matrix + test_vector

array([[11, 22, 33],
       [14, 25, 36],
       [17, 28, 39],
       [20, 31, 42]])

In [159]:
a = np.arange(1,5).reshape(4,1)
a

array([[1],
       [2],
       [3],
       [4]])

In [160]:
b = np.arange(10,40,10)
b

array([10, 20, 30])

In [161]:
a + b

array([[11, 21, 31],
       [12, 22, 32],
       [13, 23, 33],
       [14, 24, 34]])

# 7.Comparison

In [162]:
a = np.arange(10)
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [163]:
a > 5

array([False, False, False, False, False, False,  True,  True,  True,
        True])

In [164]:
np.any(a>8)  # OR 조건

True

In [165]:
np.any(a<0)

False

In [169]:
np.all(a>8)  # AND 조건

False

In [170]:
np.all(a<10)

True

In [172]:
test_a = np.array([1,3,0], float)
test_b = np.array([5,2,1], float)

In [173]:
test_a > test_b

array([False,  True, False])

In [174]:
test_a == test_b
(test_a > test_b).any()

True

In [177]:
#Logical operation
a = np.array([1,3,0], float)
b = np.logical_and(a>0, a<3)
b

array([ True, False, False])

In [179]:
c= np.logical_not(b)
c

array([False,  True,  True])

In [182]:
np.logical_or(b,c)

array([ True,  True,  True])

In [183]:
np.where(a>0, 3,2)

array([3, 3, 2])

In [188]:
# 3항 연산자
# result = condition ? when True: when False;
# result = when True if conditino else when False
x =3
y = True if x > 0 else False
y

True

In [191]:
y = '조건이 만족했을 경우의 값' if x > 0 else '조건이 틀린 경우의 값'
y

'조건이 만족했을 경우의 값'

In [192]:
a = np.arange(10,20)
np.where(a>15)

(array([6, 7, 8, 9], dtype=int64),)

In [194]:
a = np.array([1, np.NaN, np.Inf], float)
a

array([ 1., nan, inf])

In [195]:
np.isnan(a)

array([False,  True, False])

In [196]:
np.isfinite(a)

array([ True, False, False])

In [197]:
# argmax, argmin
a = np.array([1,2,4,5,8,78,23,3])
np.argmax(a)

5

In [198]:
np.argmin(a)

0

In [199]:
a = np.array([[1,2,4,7], [9,88,6,45],[8,78,23,3]])
a

array([[ 1,  2,  4,  7],
       [ 9, 88,  6, 45],
       [ 8, 78, 23,  3]])

In [200]:
np.argmax(a, axis = 1)

array([3, 1, 1], dtype=int64)

In [202]:
np.argmax(a, axis = 0)

array([1, 1, 2, 1], dtype=int64)

## 8. Boolean and Fancy Index

In [207]:
test_array = np.array([1,4,0,2,3,8,9,7], float)
test_array >3

array([False,  True, False, False, False,  True,  True,  True])

In [208]:
test_array[test_array>3]

array([4., 8., 9., 7.])

In [212]:
condition = test_array < 3
test_array[condition]

array([1., 0., 2.])

In [213]:
# Fancy index
a = np.array([2, 4, 6, 8], float)
b = np.array([0,0,1,3,2,1], int)
a[b]

array([2., 2., 4., 8., 6., 4.])

In [214]:
a.take(b)

array([2., 2., 4., 8., 6., 4.])

## 9. Data I/O

In [220]:
#13-12
import csv

f = open('school_2019.csv', 'r', encoding='utf-8')
lines = csv.reader(f)

header = next(lines)
print(header)

list_data = []
for line in lies:
    list_data.append(line[:])

print(list_data)
f.close()

FileNotFoundError: [Errno 2] No such file or directory: 'school_2019.csv'

# 교재

In [8]:
data = np.random.randn(2,3)
print(data)
print(data.shape)
print(data.dtype)

[[ 0.76208596  1.08331923 -0.16194443]
 [-0.90443394 -0.11780964 -0.31973664]]
(2, 3)
float64

In [13]:
# ex13-3
data1 = np.zeros(10)
print(data1)
print(data1.dtype)

data2 = np.zeros((2,3))
print(data2)

data3 = np.zeros((2,3), dtype= np.int32)
print(data3)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
float64
[[0. 0. 0.]
 [0. 0. 0.]]
[[0 0 0]
 [0 0 0]]

In [32]:
# ex13-4
# np.ones(n) or(n,m): n개의 요소의 값이 모두 1인 1차원 or 2차원 실수형 생성)

data1 = np.ones(8)
print(data1)

data2 = np.ones((3,4), dtype = np.int32)
print(data2)

[1. 1. 1. 1. 1. 1. 1. 1.]
[[1 1 1 1]
 [1 1 1 1]
 [1 1 1 1]]

In [35]:
# ex13-5
# np.arrage(초기값, 끝수, 조건): 일정한 규칙을 가진 수 자동 생성
# .reshape(n) : 객체 차원 재구성

data = np.arange(10,121,10)
print(data)
print(data[2])
print(data[5:8])

data[7:10] = 800
print(data)

data2 = data.reshape(2,6)
print(data2)

[ 10  20  30  40  50  60  70  80  90 100 110 120]
30
[60 70 80]
[ 10  20  30  40  50  60  70 800 800 800 110 120]
[[ 10  20  30  40  50  60]
 [ 70 800 800 800 110 120]]

In [49]:
# ex13-6
data = np.array([[1,2,3,4,5], [6,7,8,9,10], [11,12,13,14,15]])

print(data)
print(data[2][3])
print(data[0][1:])
print(data[0])
print(data[[1,2]])
print()

data[1] = 100
print(data)

data[:] = 200
print(data)

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]]
14
[2 3 4 5]
[1 2 3 4 5]
[[ 6  7  8  9 10]
 [11 12 13 14 15]]

[[  1   2   3   4   5]
 [100 100 100 100 100]
 [ 11  12  13  14  15]]
[[200 200 200 200 200]
 [200 200 200 200 200]
 [200 200 200 200 200]]

In [65]:
# ex13-7
a = np.array([[10, 7, -8, 2], [-2, 2, 8, 3], [6, -8, -5,3]])

b = a*2    #a안에 있는 모든 값에 *2
print(b)

c= a*a
print(c)

print(a>b)

[[ 20  14 -16   4]
 [ -4   4  16   6]
 [ 12 -16 -10   6]]
[[100  49  64   4]
 [  4   4  64   9]
 [ 36  64  25   9]]
[[False False  True False]
 [ True False False False]
 [False  True  True False]]

In [97]:
# ex13-8 배열의 합계, 평균, 최댓값, 최소값 구하기
data = np.array([[80,78,90,93], [65,87,88,75], [98,100,68,80]])

print(data.sum())
print(data.mean())
print(data.max())
print(data.min())
print()

print(data.max(axis = 0))
print(data.max(axis = 1))
print()

index1 = np.argmax(data, axis = 0)
index2 = np.argmin(data, axis = 1)
print(index1, index2)

1002
83.5
100
65

[ 98 100  90  93]
[ 93  88 100]

[2 2 0 0] [1 0 2]

In [99]:
# ex13-9
# np.where(조건식, 값1, 값2) : 조건이 참이면 값1 거짓이면 값2 배열 생성
data= np.random.randn(3,4)
print(data)

print(data > 0)

total = (data < 0).sum()
print(total)

data2 = np.where(data > 0, 1, -1)
print(data2)

data3 = np.where(data > 0, 5, data)
print(data3)

[[-1.61798224  0.86726082 -1.04043709  0.65042142]
 [ 2.69964586  0.80202451 -1.09692126 -0.17805445]
 [-0.42287048 -0.33040055 -1.11116278 -0.74200575]]
[[False  True False  True]
 [ True  True False False]
 [False False False False]]
8
[[-1  1 -1  1]
 [ 1  1 -1 -1]
 [-1 -1 -1 -1]]
[[-1.61798224  5.         -1.04043709  5.        ]
 [ 5.          5.         -1.09692126 -0.17805445]
 [-0.42287048 -0.33040055 -1.11116278 -0.74200575]]

# 연습문제

In [101]:
#1. 길이가 10인 0-백터를 만드세요.

np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [121]:
# 2. 길이가 10이며 다섯번재 원소만 1이고 나머지 원소는 모두 0인 백터를 만드세요.

data = np.zeros(10)
data[4] = 1
print(data)

[0. 0. 0. 0. 1. 0. 0. 0. 0. 0.]

In [124]:
# 3. 10부터 49까지의 값을 가지는 백터를 만드세요.
data = np.arange(10, 50)
print(data)

[10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49]

In [125]:
# 4. 위(3번) 백터의 순서를 바꾸세요.

NameError: name 'arange' is not defined

In [140]:
# 5. 0부터 8까지의 값을 가지는 3x3 행렬을 만드세요.
data = np.arange(0, 9).reshape(1,3,3)
print(data)

[[[0 1 2]
  [3 4 5]
  [6 7 8]]]

In [189]:
# 6. 벡터 [1,2,0,0,4,0] 에서 원소의 값이 0이 아닌 원소만 선택한 벡터를 만드세요.
data = np.array([1,2,0,0,4,0])
result = np.where(data!=0)
print(data)
print(result)

[1 2 0 0 4 0]
(array([0, 1, 4], dtype=int64),)

In [206]:
# 7. 3x3 단위 행렬(identity matrix)을 만드세요
a = np.random.seed(10)
np.identity(n=3, dtype=np.int8)

array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]], dtype=int8)

In [ ]:
# 8. 난수 원소를 가지는 3x3 행렬을 만드세요

In [ ]:
# 9. 위(8번)에서 만든 난수 행렬에서 최대값/최소값 원소를 찾으세요.

In [ ]:
# 10. 위(8번)에서 만든 난수 행렬에서 행 평균, 열 평균을 계산하세요.