In [21]:
import sqlite3
conn = sqlite3.connect('./test.db')

In [22]:
cur = conn.cursor()
cur.execute('SELECT * FROM eagles')
rows = cur.fetchall()

In [23]:
rows

[(1, 13, '최재훈', '포수'),
 (2, 3, '노태형', '내야수'),
 (3, 19, '이용규', '외야수'),
 (4, 62, '강재민', '투수'),
 (5, 47, '김종민', '포수수'),
 (6, 14, '강경학', '내야수'),
 (7, 114, '김광명', '외야수'),
 (8, 20, '남지민', '투수'),
 (9, 116, '강상원', '외야수'),
 (10, 94, '권용우', '투수')]

In [24]:
cur.execute("select * from eagles where position = '투수'")
pitchers = cur.fetchall()
for pitcher in pitchers:
    print(pitcher)

(4, 62, '강재민', '투수')
(8, 20, '남지민', '투수')
(10, 94, '권용우', '투수')

In [28]:
cur= conn.cursor()
cur.execute('create table if not exists eagles \
            (back_no int not null,\
            name text,\
            positino text\
            primary key(back_no));')

OperationalError: near "(": syntax error

In [29]:
cur.execute('alter table eagles add column birth integer')

In [30]:
cur.execute('alter table eagles rename to eagles.backup')

OperationalError: near ".": syntax error

## 데이터 추가

In [54]:
cur
cur.execute("insert into eagles (back_no, name, position) values(1, '하주석', '내야수');")

In [55]:
## DB에 반영
conn.commit()

In [84]:
# 파라메터: 튜브를 사용해서 전달
back_no = 25
name = '노태형'
position = '내야수'
sql = "insert into eagles (back_no, name, position) values(?,?,?)"
cur.execute(sql,(back_no, name, position))
conn.commit()

In [85]:
#튜플 리스트 사용
players = [(44,'서폴드','투수'),(54,'서균','투수') ]
for player in players:
    cur.execute(sql, player)
conn.commit()

In [86]:
#execuatemany 사용()
players = [(48,'벨','투수'),(53,'김민우','투수') ]
cur.execute(sql, player)
conn.commit()

In [87]:
## 데이터 조회

In [88]:
# 순회 조회
sql = "select * from eagles where position = '포수'"
cur.execute(sql)
for result in cur:
    print(result)

(1, 13, '최재훈', '포수', None)

In [89]:
#한건 조회*******
cur.execute(sql)
result= cur.fetchone()
print(result)

(1, 13, '최재훈', '포수', None)

In [90]:
result = cur.fetchone()
print(result)

None

In [91]:
#갯수 지정 조회
sql = "select * from eagles where position = '투수'"
cur.execute(sql)
results = cur.fetchmany(3)
results

[(4, 62, '강재민', '투수', None),
 (8, 20, '남지민', '투수', None),
 (10, 94, '권용우', '투수', None)]

In [92]:
#전부 조회**********
sql = "select * from eagles where position = '내야수'"
cur.execute(sql)
results = cur.fetchall()
results

[(2, 3, '노태형', '내야수', None),
 (6, 14, '강경학', '내야수', None),
 (20, 25, '노태형', '내야수', None)]

In [93]:
# 필요한 컬럼만 조회
sql = "select back_no, name from eagles where back_no > 20"
cur.execute(sql)
results = cur.fetchall()
results

[(62, '강재민'),
 (47, '김종민'),
 (114, '김광명'),
 (116, '강상원'),
 (94, '권용우'),
 (25, '노태형'),
 (44, '서폴드'),
 (54, '서균'),
 (54, '서균')]

In [94]:
# 백넘버가 3039가지만 선수
sql = "select back_no, name from eagles where back_no between 30 and 39"
cur.execute(sql)
results = cur.fetchall()
results

[]

In [95]:
# 백넘버가 가장 큰 번호를 갖는 선수는?
sql = "select * from eagles order by back_no desc limit 1"
cur.execute(sql)
results = cur.fetchone()
results

(9, 116, '강상원', '외야수', None)

In [96]:
# 포지션별 사람수
sql = "select position, count(*) from eagles group by position"
cur.execute(sql)
results = cur.fetchall()
results

[('내야수', 3), ('외야수', 4), ('투수', 6), ('포수', 1), ('포수수', 1)]

## 데이터 검색

In [97]:
# back_no가 57번인 선수는?
# 꼭 튜플로 만들어줘서 써야 한다!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
back_no = 13
sql = "select * from eagles where back_no = ?"
cur.execute(sql, (back_no,))
result = cur.fetchone()
result

(1, 13, '최재훈', '포수', None)

## 데이터 변경

In [98]:
# id가 11인 하주석 선수의 포지셩을 외야수로 변경
id = 11
position = '외야수'
sql = 'update eagles set position =? where id = ?'
cur.execute(sql, (position, id))
conn.commit()

## 데이터 삭제

In [99]:
sql = "delete from eagles where id =?"
cur.execute(sql, (id,))
conn.commit()

In [25]:
# 2

In [35]:
#2-1
cur = conn.cursor()
cur.execute('create table group_info\
                              (id integer primary key autoincrement,\
                              group_name text,\
                              num int,\
                              date text,\
                              company text);')

In [36]:
#2-2
cur = conn.cursor()
cur.execute('create table song_info(\
                              song_id integer primary key autoincrement,\
                              song_name text,\
                              group_id int,\
                              year text,\
                              composer text,\
                              intro text);')

In [41]:
#2-2
cur = conn.cursor()
cur.execute("insert into group_info(group_name, num, date, company) \
            values('방탄소년단',7,'2013-06-12', '빅히트엔터테인먼트'), \
            ('세븐틴',13,'2015-05-26','프레디스'), \
            ('하이라이트',4,'2017-03-20', '어라운드어스 엔터테인먼트'),\
            ('비투비',7, '2012-03-21', '큐브엔터테인먼트'),\
            ('EXO',9, '2012-04-08','SM엔터테인먼트')")
conn.commit()

In [42]:
cur.execute('drop table song_info')

In [44]:
cur = conn.cursor()
cur.execute('create table song_info(\
                              song_id integer primary key autoincrement,\
                              song_name text,\
                              group_id int,\
                              year text,\
                              composer text,\
                              intro text,\
                              constraint group_id_fk foreign key(group_id)\
                              references group_info(id));')

In [ ]:
cur = conn.cursor()
cur.execute("insert into song_info(song_name, group_id, year, composer, intro) \
            values('작은 것들을 위한 시',1,'2020', '작곡가','모든 게 궁금해 How’s your day Oh tell me 뭐가 널 행복하게 하는지 Oh text me'), \
            ('세븐틴',13,'2015-05-26','프레디스'), \
            ('하이라이트',4,'2017-03-20', '어라운드어스 엔터테인먼트'),\
            ('비투비',7, '2012-03-21', '큐브엔터테인먼트'),\
            ('EXO',9, '2012-04-08','SM엔터테인먼트')")

In [106]:
cur.execute('drop table song_info')

In [107]:
cur.execute('drop table group_info')

In [102]:
conn.commit()

In [108]:
conn.close()