In [58]:
import sqlite3
import pandas as pd
import numpy as np
conn = sqlite3.connect('./test.db')

In [59]:
cur = conn.cursor()

In [47]:
cur.execute('create table group_info\
                              (id integer primary key autoincrement,\
                              group_name text,\
                              member int,\
                              date text,\
                              company text);')

In [60]:
cur.execute('create table song_info(\
                              song_id integer primary key autoincrement,\
                              song_name text,\
                              group_id int,\
                              year int,\
                              composer text,\
                              intro text,\
                              constraint group_id_fk foreign key(group_id)\
                              references group_info(id));')

In [92]:
singers = pd.read_csv('singers.csv',  encoding='CP949')
singers

    name  member_no       debut company
0  방탄소년단          7  2013-06-13  빅히트 엔터
1    마마무          4  2014-06-19     RBW
2   우주소녀         13  2016-02-25  스타쉽 엔터
3    블락비          7  2011-04-15   KQ 엔터
4     엑소          9  2012-04-08   SM 엔터
5   트와이스          9  2015-10-20  JYP 엔터

In [5]:
singers['name'][0]

'방탄소년단'

In [6]:
songs = pd.read_csv('songs.csv',  encoding='CP949')
songs

,song,gid,year,composer,lyrics
0,작은 것들을 위한 시,1,2019,Pdogg 외,모든 게 궁금해 How’s your day
1,FAKE LOVE,1,2018,Pdogg 외,널 위해서라면 난 슬퍼도 기쁜 척 할 수가 있었어
2,넌 is 뭔들,2,2016,김도훈 외,Hey 거기 미소가 예쁜 남자 바로 너
3,음오아예 (Um Oh Ah Yeh),2,2015,김도훈,oh yes 음 오 아 예 너에게 빠져들겠어 자꾸 반응하잖아
4,HER,4,2014,지코 외,Jesus 무슨 말이 필요해 모두 널 작품이라고 불러
5,으르렁,5,2013,신혁 외,나 으르렁 으르렁 으르렁 대 나 으르렁 으르렁 으르렁 대
6,MAMA,5,2012,유영진,Careless careless Shoot anonymous anonymous
7,CHEER UP,6,2016,블랙아이드필승 외,CHEER UP BABY CHEER UP BABY 좀 더 힘을 내
8,TT,6,2016,블랙아이드필승 외,이런 내 맘 모르고 너무해 너무해
9,빨간 맛,11,2017,Ludwig Lindell 외,빨간 맛 궁금해 Honey 깨물면 점점 녹아든 스트로베리 그 맛

In [48]:
length = len(singers) -1
for n in range(0,length, 1):
    name = singers['name'][n]
    num = singers['member_no'][n]
    debut = singers['debut'][n]
    company = singers['company'][n]
    
    sql = "insert into group_info(group_name, member, date, company) \
        values(?,?,?,?)"
    cur.execute(sql,(name, int(num), debut, company))

In [49]:
conn.commit()

In [61]:
length = len(songs)
for n in range(0,length, 1):
    song = songs['song'][n]
    gid = songs['gid'][n]
    year = songs['year'][n]
    composer = songs['composer'][n]
    intro = songs['lyrics'][n]
    
    sql = "insert into song_info(song_name, group_id, year, composer, intro) \
        values(?,?,?,?,?)"
    cur.execute(sql,(song, int(gid), int(year), composer, intro))

In [62]:
conn.commit()

In [88]:
sql = 'select go.group_name, go.member, go.date, so.song_name, so.year from group_info as go\
       inner join song_info as so on go.id = so.group_id;'
cur.execute(sql)
group=[]
mem = []
de =[]
song = []
year = []
for result in cur:
    group.append(result[0])
    mem.append(result[1])
    de.append(result[2])
    song.append(result[3])
    year.append(result[4])

song

['작은 것들을 위한 시',
 'FAKE LOVE',
 '넌 is 뭔들',
 '음오아예 (Um Oh Ah Yeh)',
 'HER',
 '으르렁',
 'MAMA']

In [89]:
df = pd.DataFrame({'그룹명':group, '멤버수':mem, '데뷔일':de,'노래이름':song, '발표년도':year})
df

     그룹명  멤버수         데뷔일                 노래이름  발표년도
0  방탄소년단    7  2013-06-13          작은 것들을 위한 시  2019
1  방탄소년단    7  2013-06-13            FAKE LOVE  2018
2    마마무    4  2014-06-19              넌 is 뭔들  2016
3    마마무    4  2014-06-19  음오아예 (Um Oh Ah Yeh)  2015
4    블락비    7  2011-04-15                  HER  2014
5     엑소    9  2012-04-08                  으르렁  2013
6     엑소    9  2012-04-08                 MAMA  2012

In [90]:
conn.close()